
body{

  
}

nav{
    background-color: black !important;
}





.nav-link{

    color:white !important;
    
}


#welcome{

    /* background-color: rgba(97, 89, 89, 0.3);  */

    background-color: rgb(248,248,248);

    text-align: center;

}

#form_parent{

    background-image: url(https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.add_post{

    background-color: rgba(92,158,228);
    color:white;

}

#contents{
  
    background-color: rgb(255, 255, 255);
 
}

#home{

    background-image: url(https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-repeat: no-repeat;
    background-size: cover;

    height: 700px;

}

.section{
     margin-top:5%;
}

.post_img{
    max-width: 300px;
    /* max-height: 150px; */
}

.post_text{
    padding: 14px 20px
}
.author{
    font-weight:bold; color:rgb(92,158,228)
}

.post{
    display:flex; flex-direction: row; 

}

.title{
    color: inherit; 
    text-decoration: none;
}

.intro_text{
    color: inherit; 
    text-decoration: none;

    line-height: 33px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

.intro_text2{
    word-wrap: break-word;
    line-height: 25px !important;
    font-size: medium;
    padding:5px;
    margin-top: 5%;
    color: whitesmoke;
}


#section_two{
    margin-top: 10%;
    background-image: url(https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
}



#sidebar{
    
    display:flex; flex-direction: column; 
    color:white;
    background-color: rgb(92,158,228);
    
    border-radius:10px;
}


.sidebar_2 {
    color: whitesmoke;
    padding-bottom: 20px;
}
.sidebar_2:hover{
  
    text-decoration: none;
    list-style: none;
}


.p_author{
    color: rgb(92,158,228);
}

.p_img{

        max-width: 100%;
}

.p_title{
    font-weight:bold;
    word-wrap: break-word;
}

.p_body{
    margin-top:5%;
    
    text-align:left;
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    line-height: 2em;
  
}


.p_body2{
  
    margin-bottom:10%;
    text-align:left;
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    line-height: 2em;
  
}

.error{

    color:rgb(255, 187, 0);
}

/* 
///////Mobile */

@media screen and (max-width: 992px) {

        body{
            overflow-x: hidden;
        }

      
    .post{
        display:flex; flex-direction: column; 
        

        }

    .post_img{

        width:100%;
    }
  }

  .pagination{

    background-color: black;
    color: white;
    padding:5px 10px 5px 10px;
    font-size: 13px;
    width: 11.5%;

  }
  .pagination:hover{

        color:black;
        cursor:pointer;

  }